* {
    padding: 0px;
}
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-bottom: 1px solid black;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    
    gap: 1rem;

}
nav a{
    text-decoration: none;
    color: black;
}

.icone {
    font-weight: bold;
}

/* Agora a introdução que fica abaixo da nav */

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow:column wrap; 
    text-align: center;
}
.intro h1{
    font-size: xx-large;
}
.intro h2{
    color: grey;
    margin: 0px;
}
.intro p{
    max-width: 40ch;
}

/* Agora o conteúdo principal que fica no meio da página e é o mais informativo */

.principal{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 1rem;
    grid-auto-flow: column;
}
.principal div{
    padding: 2rem;
    border: 1px solid black;
    flex-grow: 1;
}
.principal h1{
    margin: 0px;
}
.principal p{
    max-width: 40ch;
}